* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 2rem;
  color: black;
}

.navbar-brand:hover {
  color: green;
}

.nav-link {
  margin: 10px 0;
  text-transform: uppercase;
  color: black;
}

.nav-link:hover {
  color: green;
}

.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  margin-right: -35px;
  border: 2px solid rgb(248, 26, 92);
}

.btn0 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: rgb(248, 26, 92);
  color: white;
  font-weight: 700;
  border-radius: 60px;
}

.main {
  background: url(./imgs/unnamed.png) no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
}

.main h1 {
  font-size: 4rem;
  font-weight: 700;
}

.btn1 {
  height: 50px;
  width: 35%;
  border: none;
  outline: none;
  background-color: rgb(248, 26, 92);
  color: white;
  border-radius: 60px;
}
